.comment:focus {
  border: 5px solid rgb(255, 42, 0);
  color: white;
  transition: 300ms;
}
.comment-container__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.comment-button__submit:hover {
  border: 5px solid rgb(255, 42, 0);
  color: black;
  transition: 300ms;
  background-color: white;
}

.comment-container__write {
  display: flex;

  flex-direction: column;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding-bottom: 5%;
  width: 900px !important;
}
.comment-buttons {
  display: flex;
  width: 700px;
  gap: 0.5rem;
}
.comment-button__id {
  display: flex;
  width: auto;
  font-size: 14px;
  padding-left: 4% !important;
  padding-right: 4%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border: 5px solid rgb(38, 46, 59);
  background-color: rgb(59, 59, 59);
  background-clip: padding-box;
  color: white;
  border-radius: 30px;
  transition: 300ms;
}

.comment-button__submit {
  display: flex;
  width: auto;
  font-size: 14px;
  padding-left: 4% !important;
  padding-right: 4%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border: 5px solid rgb(38, 46, 59);
  background-color: rgb(59, 59, 59);
  background-clip: padding-box;
  color: white;
  border-radius: 30px;
  transition: 300ms;
}

.comment {
  display: flex;
  width: 700px;
  flex-direction: column;
  text-align: left;
  border: 5px solid rgb(38, 46, 59);
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 1.5%;
  padding-left: 2%;
  border-radius: 30px;
  font-size: 17px;
  min-height: 150px;
  outline: none;
  transition: 400ms;
  resize: none;
}


.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100% !important;
  height: auto;
  white-space:pre-line;
  gap: 20px;
}

.comment-box {
  display: flex;
  flex-wrap: wrap !important;
  font-size: 16px;
  width: 700px !important;
  height: auto;
  justify-content: left;
  text-align: left;
  border-left: 1px solid rgb(185, 185, 185);
  color : rgb(185, 185, 185);
  padding: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.comment-box__writer {
  display: flex;
  font-size: 19px;
  width: auto;
  height: auto;
  justify-content: left;
  text-align: left;
  border-left: 1px solid rgb(185, 185, 185);
  color: rgb(185, 185, 185);
  padding: 0.5rem;
  padding-left: 1rem;
}

.comment-box__adminwriter {
  display: flex;
  font-size: 19px;
  width: auto;
  height: auto;
  color: rgb(255, 146, 124);
  justify-content: left;
  text-align: left;
  border-left: 1px solid rgb(185, 185, 185);
  padding: 0.5rem;
  padding-left: 1rem;
}