.home-image__container {
  display: flex;
  width: auto;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2%;
}

.home-image {
  border-radius: 50%;
  border: 4px solid rgb(255, 42, 0);
  display: flex;
  justify-content: center;
  width: 130px;
  height: 130px;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  object-fit: cover;
}

.introduce {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 30%;
  margin-right: 30%;
  height: 350px;
  width: auto;
  /* border: 0.2px solid rgba(255, 255, 255, 0.459);
        border-radius: 20px; */
  text-align: center;
}

.visitnum {
  display: flex;
  width: inherit;
  height: auto;
  margin-top: 8%;
  justify-content: center;
}

.introduce-text__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.introduce-text__year {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.icon-container {
  display: flex;
  width: inherit;
  justify-content: center;
  height: auto;
  padding-top: 2.5%;
  gap: 15px;
}
.icon-image {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  object-fit: fill;
  align-items: center;
  object-fit: cover;
}
